<% @photos.each do |photo| %>
  <div class="album-show row">
    <div class="col-md-6">
      <%=image_tag photo.image, class: 'image' %>
    </div>
    <div class="col-md-6">
      <div class="user">
        <%= link_to "Owner : #{photo.owner}", album_path(photo.album_id), class: 'username' %>
      </div>
      <div class="album-name">
        Caption : <%= photo.caption %>
      </div>
    </div>
  </div>
<% end %>