<div class="photo-show row">
  <div class="user-images">
    <% @photos.order(created_at: :desc).each do |photo|%>
      <div class="wrapper">
        <%= link_to image_tag(photo.image), photo_path(photo.id), class: 'image' %>
      </div>
    <% end %>
  </div>
</div>